@font-face {
  font-family: "iconfont"; /* Project id 2321853 */
  src: url('//at.alicdn.com/t/font_2321853_1rrplcw0pwh.woff2?t=1625688083229') format('woff2'),
       url('//at.alicdn.com/t/font_2321853_1rrplcw0pwh.woff?t=1625688083229') format('woff'),
       url('//at.alicdn.com/t/font_2321853_1rrplcw0pwh.ttf?t=1625688083229') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gengduo:before {
  content: "\e744";
}

.icon-wangguan:before {
  content: "\e63d";
}

.icon-home:before {
  content: "\e61d";
}

.icon-yonghudianji:before {
  content: "\e638";
}

.icon-shipin:before {
  content: "\eddf";
}

.icon-diantai:before {
  content: "\e621";
}

.icon--damuzhi:before {
  content: "\e622";
}

.icon-ziyuanldpi:before {
  content: "\e61b";
}

.icon-paihangbang:before {
  content: "\e603";
}

.icon-zhiboshipinshexiang:before {
  content: "\e618";
}
